.component-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 400px;
}

.button {
    display: flex;
    gap: 30px;
}

.counter {
    display: flex;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    width: 100px;
    border-radius: 50%;
    color: blue;
}