.card {
    width: 350px;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    /* margin: 20px; */
}

.foto {
    width: 250px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px grey;
}

.card-container {
    margin: 20px;
}